
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.palette{
	text-transform: none;
}

table.home-buttons {
	width: 100%;
}

table.home-buttons tr a {
	margin-bottom: 30px;
}

.timeline-graph{
  	visibility: hidden;
}
  
.timeline-message{
  	visibility: visible;
}

@media (min-width: 480px) and (max-width: 979px) {
	.timeline-graph{
  		visibility: visible;
  	}
  	.timeline-message{
  		visibility: hidden;
  	}
}

.rickshaw_annotation_timeline{
	margin-top: 30px;	
}

.rickshaw_annotation_timeline .annotation{
	width: 20px;
	height: 20px;
	top: -10px;
}

.btn-toolbar{
	margin:5px;
}

.navbar {
  margin-bottom: 10px;
}

.navbar-inner {
  min-height: 20px;
}

.navbar .brand {
  padding: 2px 10px 2px;
  font-size: 12px;
}