
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#home{
	top: 0px;
	left:0px;
	margin-bottom:20px;
}

.palette{
	text-transform: none;
}

table.home-buttons {
	width: 100%;
}

table.home-buttons tr a {
	margin-bottom: 30px;
}


