<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport"
	content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi" />
<link rel="stylesheet" href="stylesheet/vendor/bootstrap.min.css" />
<link rel="stylesheet"
	href="stylesheet/vendor/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="stylesheet/vendor/font-awesome.css" />
<link rel="stylesheet" href="stylesheet/vendor/dc.css" />
<link rel="stylesheet" href="stylesheet/vendor/daterangepicker.css" />
<link rel="stylesheet" href="stylesheet/vendor/flat-ui.css"/>
<link rel="stylesheet" href="stylesheet/main.css" />
</head>
<body class="palette palette-info">
	<div class="container-fluid">
		<div id="modal-dialog"></div>
		<div id="app"></div>
	</div>
	<script type="text/template" id="quick-insights-template">
	<div class="navbar navbar-inverse">
	<div class="navbar-inner">
		<ul class="nav">
			<li><a href="#">Log</a></li>
			<li class="active"><a href="#/insights">Insights</a></li>
		</ul>
		<div class="pull-right">
			<%if(authenticated) {%>
			<div class="btn-group">
				<button class="btn">Hey <%= name%></button>
				<button class="btn dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#/account">Account</a></li>
					<li><a href="#" id="logout">Logout</a></li>
				</ul>
			</div>
			<%} else { %> 
			<ul class="nav">
				<li>
				<a href="#" id="login" ><i class="icon-signin"></i> Login</a> 
				</li>
			</ul>
			<%}%>
		</div>
	</div>
</div>
</div>
<div id="graphs">
	<div class="container-fluid">
		<div class="row-fluid">
			<form class="form-inline">
				<label for="log-dates">Showing Dates: </label>
				<input type="text" name="log-dates" id="log-dates" />
				<!--<button id="show-all-results" class="btn btn-link">Show All</button>-->
			</form>
		</div>
		<div class="row-fluid">
			<div id="log-period-chart">
					<strong>Date Range</strong> <span class="reset" style="display: none;">Showing:
						<span class="filter"></span>
					</span>
					<button type="button" id="reset-log-period-chart"
						class="btn btn-link reset" style="display: none;">reset</button>
					<div class="clearfix"></div>
			</div>
			<div id="quick-insights-chart">
				<strong>Glucose Level</strong>
				<span class="reset" style="display: none;">Showing: <span
					class="filter"></span></span>
				<button type="button" id="reset-quick-insights-chart"
					class="btn btn-link reset" style="display: none;">reset</button>
				<div class="clearfix"></div>
			</div>
			<div id="quick-insulin-amount">
				<strong>Bolus</strong>
				<span class="reset" style="display: none;">Showing: <span
					class="filter"></span></span>
				<button type="button" id="reset-quick-insights-chart"
					class="btn btn-link reset" style="display: none;">reset</button>
				<div class="clearfix"></div>
			</div>
			<div id="quick-carb-ratio">
				<strong>Carb Ratio</strong>
				<span class="reset" style="display: none;">Showing: <span
					class="filter"></span></span>
				<button type="button" id="reset-quick-insights-chart"
					class="btn btn-link reset" style="display: none;">reset</button>
				<div class="clearfix"></div>
			</div>
			<div id="quick-insulin-sensitivity">
				<strong>Insulin Sensitivity</strong>
				<span class="reset" style="display: none;">Showing: <span
					class="filter"></span></span>
				<button type="button" id="reset-quick-insights-chart"
					class="btn btn-link reset" style="display: none;">reset</button>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
	</script>
	<script type="text/template" id="account-template">
<div class="navbar navbar-inverse">
	<div class="navbar-inner">
		<ul class="nav">
			<li><a href="#">Log</a></li>
			<li><a href="#/insights">Insights</a></li>
		</ul>
		<div class="pull-right">
			<%if(authenticated) {%>
			<div class="btn-group">
				<button class="btn">Hey <%= name%></button>
				<button class="btn dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#/account">Account</a></li>
					<li><a href="#" id="logout">Logout</a></li>
				</ul>
			</div>
			<%} else { %> 
			<ul class="nav">
				<li>
				<a href="#" id="login" ><i class="icon-signin"></i> Login</a> 
				</li>
			</ul>
			<%}%>
		</div>
	</div>
</div>
<div id="account">
	<div class="container-fluid">
  		<div class="row-fluid">
    		<div class="span3 well well-small">
      			<!--Sidebar content-->

				<img class="media-object" style="width: 90px; height: 90px;" src="<%= thumbnailPath%>">
				<p><%= name%></p>
				<%if(allowSharing) {%>
					Share link: <span class="input-xlarge uneditable-input"><%=shareLinkId%></span>
				<%}%>
    		</div>
    		<div class="span9">
				<h3>Upload Results:</h3>
				<form action="/insights-users/<%=sid%>/upload-data" enctype="multipart/form-data" method="post">
    				<input type="file" name="upload" multiple="multiple">
					<div class="form-actions">	
						<button class="btn">Cancel</button>
						<button type="submit" class="btn btn-primary">Upload</button>
					</div>	
    			</form>
				<h3>Settings:</h3>
				<form id="account-settings" >
					
						<label class="control-label">
							<input id="userNewsletter" type="checkbox" value="true"> 
							Receive Newsletter?
						</label>
						<label class="control-label">  
							<input id="allowSharing" type="checkbox" value="true"> 
							Allow sharing and generate link?
						</label>
						<label class="control-label">Testing Units</label> 
						<select id="userTestingUnits">
								<option value="mmol/l">mmol/l</option>
								<option value="mg/dL">mg/dL</option>
							</select>
						<div class="form-actions">
							<button class="btn">Cancel</button>
							<button type="submit" class="save-account-settings btn btn-primary">Save</button>
						</div>
				</form>
    		</div>
  		</div>
	</div>
	</div>
	</script>
	<script type="text/template" id="logbook-template">
	<div class="navbar navbar-inverse">
	<div class="navbar-inner">
		<ul class="nav">
			<li class="active"><a href="#">Log</a></li>
			<li><a href="#/insights">Insights</a></li>
		</ul>
		<div class="pull-right">
			<%if(authenticated) {%>
			<div class="btn-group">
				<button class="btn">Hey <%= name%></button>
				<button class="btn dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#/account">Account</a></li>
					<li><a href="#" id="logout">Logout</a></li>
				</ul>
			</div>
			<%} else { %> 
			<ul class="nav">
				<li>
				<a href="#" id="login" ><i class="icon-signin"></i> Login</a> 
				</li>
			</ul>
			<%}%>
		</div>
	</div>
</div>
<div id="logbook">
	<p>
	<button class="btn btn-large btn-primary" id="show-new-entry" data-toggle="collapse"
		data-target="#create-new-entry">Add Event</button>

	<div id="create-new-entry" class="collapse">
		<form>
			<div class="controls controls-row">
				<label for="entry-name">Basics</label>
			</div>
			<div class="controls controls-row">
				<select id="entry-name" autofocus>
					<option value="Breakfast">Breakfast</option>
					<option value="Lunch">Lunch</option>
					<option value="Dinner">Dinner</option>
					<option value="Bed">Bed</option>
					<option value="Other">Other</option>
				</select> <input type="text" name="entry-date" id="entry-date">
			</div>
			<div class="controls controls-row">
				<input type="text" id="entry-level" placeholder="Your Blood Sugar">
				<input type="text" id="entry-insulin" placeholder="Insulin Given">
			</div>
			<div class="controls controls-row">
				<label for="entry-exercise-duration">exercise</label> <input
					type="text" id="entry-exercise-duration"
					placeholder="exercise duration?"> <select
					id="entry-exercise-intensity">
					<option value="">NA</option>
					<option value="Easy">Easy</option>
					<option value="Easy-Moderate">Easy-Moderate</option>
					<option value="Moderate">Moderate</option>
					<option value="Moderate-Intense">Moderate-Intense</option>
					<option value="Intense">Intense</option>
				</select>
			</div>
			<div class="controls controls-row">
				<label for="entry-labels">Labels</label> <input type="text"
					id="entry-labels"
					placeholder="e.g. sickday, traveling (comma seperated)"> 
			</div>
			<div class="controls controls-row">
			<label
					for="entry-comments">Comments</label>
				<textarea rows="3" id="entry-comments"
					placeholder="General Comments"></textarea>
			</div>
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button class="btn btn-primary add-entry">Save</button>
		</form>
	</div>
	</p>
	<div class="palette palette-info-dark">
	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				<th>What</th>
				<th>When</th>
				<th>Comments</th>
				<th>Lables</th>
			</tr>
		</thead>
		<tbody id="events-list">
		</tbody>
	</table>
	</div>
</div>
	</script>
	<script type="text/template" id="share-template">
	<div class="navbar navbar-inverse ">
		<div class="navbar-inner">
			<ul class="nav">
				<li class="active"><a href="#">Log</a></li>
			</ul>
		</div>
	</div>
	<div id="logbook">
		<div  class="alert alert-warning">
  			<button type="button" class="close" data-dismiss="alert">&times;</button>		
			<p class="lead">This is <%= name%>'s logbook that has been shared with you.</p>
		</div>
		<form class="form-inline">
			<label for="logbook-days">Show:</label>	
  			<input id="logbook-days" class="logbook-days" type="text" placeholder="Number of days">
			<label for="logbook-filter">Filter:</label>
			<input id"logbook-filter" type="text" placeholder="e.g. 'dinner' or 'sick'" class="filter-logbook">
		</form>
			
		<table class="table table-bordered table-condensed">
			<thead>
				<tr>
					<th>What</th>
					<th>When</th>
					<th>Comments</th>
					<th>Lables</th>
				</tr>
			</thead>
			<tbody id="events-list">
			</tbody>
		</table>
	</div>
	</script>
	<script type="text/template" id="home-template">
	<div class="navbar navbar-inverse ">
		<div class="navbar-inner">
			<ul class="nav">
				<li class="active"><a class="disabled" href="#">Log</a></li>
				<li><a class="disabled" href="#/insights">Insights</a></li>
			</ul>
		</div>
	</div>
	<div id="logbook">
		<div class="palette palette-info-dark text-center">
  			<h3>Welcome to Betes Insights</h3>
  			<p>
    			<a href="#" id="login" class="btn btn-primary btn-large">
					<i class="icon-signin"></i>
      				Sign Up or Sign In
    			</a>
  			</p>
		</div>
	</div>
	</script>

	<script type="text/template" id="login-template">
	<div id="login-dialog" class="modal hide fade">
		<div class="modal-header palette palette-info-dark">
			<h3>Sign In</h3>
		</div>
		<div class="modal-body palette palette-info-dark">
	
			<button id="login-google" class="btn btn-block btn-primary btn-large">
				<i class="icon-google-plus icon-large"></i> Sign In with Google Account
			</button>
	
		</div>
		<div class="modal-footer palette palette-info-dark">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		</div>
	</div>
	</script>
	<script type="text/template" id="loading-template">
	<div id="loading-dialog" class="modal hide fade">
		<div class="modal-header palette palette-info-dark">
			<h3>Loading ... </h3>
		</div>
		<div class="modal-body text-center palette palette-info-dark">
			<img src='/img/loader.gif'>
		</div>
	</div>
	</script>
	<script type="text/template" id="logbookitem-template">
	<% if(glucoseLevel>0) { %>
    <td  class="alert alert-success"><h4><%= glucoseLevel %></h4></td>
	<% }else if(insulinAmount>0) { %>
	<td  class="alert alert-info"><h4><%= insulinAmount %> u</h4></td>
	<%}%>
    <td><small><%=resultDate%></small></td>
    <td><small><%=comments%></small></td>	
    <td><small><%=labels%></small></td>
	</script>
	<script type="text/template" id="add-logbookitem-template">
	<div id="add-entry-dialog" class="modal hide fade">
		<div class="modal-header">
			<h3>Add entry</h3>
		</div>
		<div class="modal-body">
			<label for="entry-name">Basics</label> <select id="entry-name"
				autofocus>
				<option value="Breakfast">Breakfast</option>
				<option value="Lunch">Lunch</option>
				<option value="Dinner">Dinner</option>
				<option value="Bed">Bed</option>
				<option value="Other">Other</option>
			</select> <input type="text" name="entry-date" id="entry-date"> <input
				type="text" id="entry-level" placeholder="Your Blood Sugar">
			<input type="text" id="entry-insulin" placeholder="Insulin Given">
			<label for="entry-exercise-duration">exercise</label> <input
				type="text" id="entry-exercise-duration"
				placeholder="exercise duration?"> <select
				id="entry-exercise-intensity">
				<option value="">NA</option>
				<option value="Easy">Easy</option>
				<option value="Easy-Moderate">Easy-Moderate</option>
				<option value="Moderate">Moderate</option>
				<option value="Moderate-Intense">Moderate-Intense</option>
				<option value="Intense">Intense</option>
			</select> <label for="entry-labels">Labels</label> <input type="text"
				id="entry-labels"
				placeholder="e.g. sickday, traveling (comma seperated)"> <label
				for="entry-comments">Comments</label>
			<textarea rows="3" id="entry-comments" placeholder="General Comments"></textarea>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button class="btn btn-primary add-entry">Save</button>
		</div>
	</div>
	</script>
	<script type="text/template" id="edit-logbookitem-template">
	<div id="edit-entry" class="modal hide fade">
		<div class="modal-header">
			<h3 id="myModalLabel">Editing Result</h3>
		</div>
		<div class="modal-body">
			<h4>Basics</h4>
			<select id="edit-entry-name" autofocus>
				<option<%if (name=="Breakfast") {%>selected<%}%>
					value="Breakfast">Breakfast</option>
				<option<%if (name=="Lunch") {%>selected<%}%>
					value="Lunch">Lunch</option>
				<option<%if (name=="Dinner") {%>selected<%}%>
					value="Dinner">Dinner</option>
				<option<%if (name=="Bed") {%>selected<%}%> 
					value="Bed">Bed</option>
				<option<%if (name=="Other") {%>selected<%}%>
					value="Other">Other</option>
			</select> <input type="text" class="when-picker" name="when-picker"
				id="edit-entry-date" value="<%= resultDate %>"> <input
				type="text" id="edit-entry-level" value="<%= bsLevel %>"> <input
				type="text" id="edit-entry-insulin" value="<%= insulinAmount %>">
			<h4>exercise</h4>
			<input type="text" id="edit-entry-exercise-duration"
				value="<%= exerciseDuration %>"> <select
				id="edit-entry-exercise-intensity">
				<option<%if (exerciseIntensity=="") {%>selected<%}%>
					value="">NA</option>
				<option<%if (exerciseIntensity=="Easy") {%>selected<%}%>
					value="Easy">Easy</option>
				<option<%if (exerciseIntensity=="Easy-Moderate")
					{%>selected<%}%> value="Easy-Moderate">Easy-Moderate</option>
				<option<%if (exerciseIntensity=="Moderate")
					{%>selected<%}%> value="Moderate">Moderate</option>
				<option<%if (exerciseIntensity=="Moderate-Intense")
					{%>selected<%}%> value="Moderate-Intense">Moderate-Intense</option>
				<option<%if (exerciseIntensity=="Intense") {%>selected<%}%>
					value="Intense">Intense</option>
			</select>
			<h4>Labels</h4>
			<input type="text" id="edit-entry-labels" value="<%= labels %>">
			<h4>Comments</h4>
			<textarea rows="3" id="edit-entry-comments"><%= comments %></textarea>
	
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button class="btn btn-primary save-edit">Save</button>
		</div>
	</div>
	</script>

	<script type="text/javascript" src="cordova-2.4.0.js"></script>
	<script type="text/javascript" src="js/vendor/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="js/vendor/underscore-min.js"></script>
	<script type="text/javascript" src="js/vendor/backbone.js"></script>
	<script type="text/javascript" src="js/vendor/backbone_offline.js"></script>
	<script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/vendor/d3.v2.min.js"></script>
	<script type="text/javascript" src="js/vendor/moment.min.js"></script>
	<script type="text/javascript" src="js/vendor/daterangepicker.js"></script>
	<script type="text/javascript" src="js/vendor/d3.crossfilter.js"></script>
	<script type="text/javascript" src="js/vendor/dc.min.js"></script>
	<script type="text/javascript" src="js/backbone.oauth.mobile.js"></script>
	
	<script type="text/javascript" src="js/models/LogBookEntry.js"></script>
	<script type="text/javascript" src="js/models/InsightsUser.js"></script>

	<script type="text/javascript" src="js/views/AccountView.js"></script>
	<script type="text/javascript" src="js/views/HomeView.js"></script>
	<script type="text/javascript" src="js/views/LogbookEntryView.js"></script>
	<script type="text/javascript" src="js/views/LoadingModal.js"></script>
	<script type="text/javascript" src="js/views/LoginModal.js"></script>
	<script type="text/javascript" src="js/views/AddEntryModal.js"></script>
	<script type="text/javascript" src="js/views/LogbookView.js"></script>
	<script type="text/javascript" src="js/views/QuickInsightsView.js"></script>
	<script type="text/javascript" src="js/views/ShareView.js"></script>
	<script type="text/javascript" src="js/BuildGroups.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript">
	document.addEventListener("deviceready", startApplication, true);
	//startApplication();
	</script>

</body>
</html>
