
<div id="account">
	<div class="container-fluid">
		<div class="row-fluid">
			<img class="media-object" style="width: 45px; height: 45px;"
				src="<%= thumbnailPath%>">
			<p><%= name%></p>

			<div id="settings-section" class="palette palette-info-dark">
				<form>
					<fieldset>
						<legend>Settings</legend>
						<label> <input type="checkbox" id="newsletter"
							value="true">Receive newsletter?
						</label> <label> <input type="checkbox" id="email-summary"
							value="true">Email summary of your results?
						</label> <label>Glucose units</label> <label> <input type="radio"
							name="optionsRadios" id="mmoll" value="mmoll" checked>mmol/l
						</label> <label> <input type="radio" name="optionsRadios"
							id="mgdl" value="mgdl">mg/dl
						</label>
						<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
						<button class="btn btn-primary add-entry">Save</button>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>