<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Diabetes Log</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="css/font-awesome.css" />
		<link rel="stylesheet" href="css/graphs.css" />
	</head>
	  
	<body>
		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<a class="brand" href="#"><i class="icon-tint"></i> Betes Log</a>
				<ul class="nav">
					<li class="active"><a href="#/">Log Book</a></li>
					<li><a href="#/account">Settings</a></li>
				</ul>
			</div>
		</div>
		<div class="container">
			<div id="app" class="row">
				<div id="modal-dialog"></div>
				<section id="main">			
				</section>
			</div>
		</div>
		<!-- App Source -->	
		<script type="text/template" id="item-template">
			<td><% if(name) { %> <a class="update" href="#"><%= name %></a><% } %> </td>
			<td><% if(bsLevel) { %> <%= bsLevel %> mmol <% } %></td>
			<td><% if(insulinAmount) { %> <%= insulinAmount %> u<% } %></td>
			<td><% if(excerciseDuration) { %> <%= excerciseDuration %> mins<% } %></td>
			<td><% if(excerciseIntensity) { %> <%= excerciseIntensity %> intensity<% } %></td>
			<td><a class="btn btn-link update" href="#"><i class="icon-edit icon-large"></i></a><a class="btn btn-link delete" href="#"><i class="icon-trash  icon-large"></i></a></td>
		</script>
		<script type="text/template" id="edit-item-template">
		<div id="edit-entry" class="modal hide fade">
				<div class="modal-header">
					<h3 id="myModalLabel">Editing Result</h3>
				</div>
				<div class="modal-body">
					<h4>Basics</h4>							
					<select  id="edit-entry-name" autofocus>
						<option <%if (name=="Waking") {%>selected<%}%> value="Waking">Waking</option>
						<option <%if (name=="Breakfast") {%>selected<%}%> value="Breakfast">Breakfast</option>
						<option <%if (name=="Mid-Morning") {%>selected<%}%> value="Mid-Morning">Mid-Morning</option>
						<option <%if (name=="Lunch") {%>selected<%}%> value="Lunch">Lunch</option>
						<option <%if (name=="Mid-Afternoon") {%>selected<%}%> value="Mid-Afternoon">Mid-Afternoon</option>
						<option <%if (name=="Dinner") {%>selected<%}%> value="Dinner">Dinner</option>
						<option <%if (name=="Evening") {%>selected<%}%> value="Evening">Evening</option>
						<option <%if (name=="Bed") {%>selected<%}%> value="Bed">Bed</option>
						<option <%if (name=="Other") {%>selected<%}%> value="Other">Other</option>
					</select>
					<input type="text" class="when-picker" name="when-picker" id="edit-entry-date" value="<%= when %>">
					<input type="text" id="edit-entry-level" value="<%= bsLevel %>">
					<input type="text" id="edit-entry-insulin" value="<%= insulinAmount %>">
					<h4>Excercise</h4>
					<input type="text" id="edit-entry-excercise-duration" value="<%= excerciseDuration %>">				
					<select  id="edit-entry-excercise-intensity">
						<option <%if (excerciseIntensity=="") {%>selected<%}%> value="">NA</option>
						<option <%if (excerciseIntensity=="Easy") {%>selected<%}%> value="Easy">Easy</option>
						<option <%if (excerciseIntensity=="Easy-Moderate") {%>selected<%}%> value="Easy-Moderate">Easy-Moderate</option>
						<option <%if (excerciseIntensity=="Moderate") {%>selected<%}%> value="Moderate">Moderate</option>
						<option <%if (excerciseIntensity=="Moderate-Intense") {%>selected<%}%> value="Moderate-Intense">Moderate-Intense</option>
						<option <%if (excerciseIntensity=="Intense") {%>selected<%}%> value="Intense">Intense</option>
					</select>
					<h4>Labels</h4>
					<input type="text" id="edit-entry-labels" value="<%= labels %>">
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
					<button class="btn btn-primary save-edit">Save</button>
				</div>
		</div>
		</script>
		<script type="text/template" id="add-item-template">
		<div id="add-entry-dialog" class="modal hide fade">
			<div class="modal-header">
				<h3>Add a new log book entry</h3>
			</div>
			<div class="modal-body">
				<label for="entry-name">Basics</label>
				<select id="entry-name" autofocus>
					<option value="Waking">Waking</option>
					<option value="Breakfast">Breakfast</option>
					<option value="Mid-Morning">Mid-Morning</option>
					<option value="Lunch">Lunch</option>
					<option value="Mid-Afternoon">Mid-Afternoon</option>
					<option value="Dinner">Dinner</option>
					<option value="Evening">Evening</option>
					<option value="Bed">Bed</option>
					<option value="Other">Other</option>
				</select>
				<input type="text" name="entry-date" id="entry-date">
				<input type="text" id="entry-level" placeholder="Your Blood Sugar">
				<input type="text" id="entry-insulin" placeholder="Insulin Given">
				<label for="entry-excercise-duration">Excercise</label>
				<input type="text" id="entry-excercise-duration" placeholder="Excercise duration?">				
				<select id="entry-excercise-intensity">
					<option value="">NA</option>
					<option value="Easy">Easy</option>
					<option value="Easy-Moderate">Easy-Moderate</option>
					<option value="Moderate">Moderate</option>
					<option value="Moderate-Intense">Moderate-Intense</option>
					<option value="Intense">Intense</option>
				</select>
				<label for="entry-labels">Labels</label>
				<input type="text" id="entry-labels" placeholder="e.g. sickday (comma seperated)">		
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
				<button class="btn btn-primary add-entry">Save</button>
			</div>
		</div>
		</script>
		<script type="text/template" id="logbook-template">
		
			<ul class="nav nav-tabs" id="myTab">
				<li class="active"><a href="#logbook" data-toggle="tab">Logbook</a></li>
				<li><a href="#goals-graph" data-toggle="tab">Goals</a></li>
				<li><a href="#bs-graph" data-toggle="tab">Results</a></li>
				<li><a href="#bs-vs-excercise-graph" data-toggle="tab">Results and Excercise</a></li>
			</ul>
		       
			<div class="tab-content">
				<div class="tab-pane active" id="logbook">
					
					<div class="row">
						<div class="span2"><button class="btn create-new-entry">Add Result</button></div>
						<div class="span2"><input type="text" placeholder="filter results ..." id="filter-logbook" ></div>
					</div>
					
					<div id="modal-item"></div>
					<table class="table table-bordered table-condensed">
						<thead>
						  <tr>
						    <th>At</th>
						    <th>your blood sugar was</th>
						    <th>you gave</th>
						    <th>you did</th>
						    <th>excercise at</th>
						  </tr>
						</thead>
						<tbody id="events-list">
						</tbody>
					</table>	
				</div>
				<div class="tab-pane" id="goals-graph">
					<input type="text" placeholder="filter results ..." id="filter-goals-grap" >
					<div id="goals">
					</div>
				</div>
				<div class="tab-pane" id="bs-graph">
					<input type="text" placeholder="filter results ..." id="filter-bs-graph" >
					<div id="bs-results">
					</div>
				</div>
				<div class="tab-pane" id="bs-vs-excercise-graph">
					<input type="text" placeholder="filter results ..." id="filter-bs-vs-excercise-graph" >	
					<div id="bs-vs-excercise">
					</div>
				</div>
			</div>
					
		</script>			
		<script type="text/template" id="account-template">
		<ul class="nav nav-tabs" id="user-tabs">
			<li class="active"><a href="#user-info-tab" data-toggle="tab">Details</a></li>
			<li><a href="#user-goals-tab" data-toggle="tab">Goals</a></li>
			<li><a href="#user-account-tab" data-toggle="tab">Account</a></li>
		</ul>
		<div class="tab-content">
				<div class="tab-pane active" id="user-info-tab">
				</div>
				<div class="tab-pane" id="user-goals-tab">
					<div class="row">
						<div class="span6">
							<form id="goals">
							<label for="bs-lower">Blood Sugar Range</label>
							<input type="number" id="goal-bs-lower" placeholder="lower">
							<input type="number" id="goal-bs-upper" placeholder="upper">		
							<label for="goal-bs-frequency">Testing Frequency</label>					
							<input type="number" id="goal-bs-frequency" placeholder="times per day">
						</div>
						<div class="span6">
							<label for="goal-excercise-duration">Average Excercise Duration</label>
							<input type="number" id="goal-excercise-duration" placeholder="mins per day">
							<label for="goal-excercise-frequency">Excercise Frequency</label>
							<input type="number" id="goal-excercise-frequency" placeholder="times per week">
							<input type="submit" value="Save Daily Goals"/>
							</form>				
						</div>
					</div>
					<div class="row">
						<div class="span6">
							<form id="goals">
								<label for="goal-excercise-duration">Long Term Goal</label>
								<textarea id="goal-long-term" />	
												
						</div>
						<div class="span6">
								<label for="goal-long-term-date">When do you aim to achive this?</label>						
								<input type="date" id="goal-long-term-date" >
								<input type="submit" value="Save Long Term Goals"/>
							</form>				
						</div>
					</div>	
				</div>
				<div class="tab-pane" id="user-account-tab">
					<div class="span6">
						<form id="profile">
						<input type="text" id="account-user-name" placeholder="Name">
						<input type="text" id="account-user-public-name" placeholder="User Name (that others will see)">
						<input type="email" id="account-user-email" placeholder="Email">
						<input type="password" id="account-user-pw" placeholder="Password">
					</div>
					<div class="span6">
						<select name="account-goals-public" id="account-goals-public">
							<option value="false">Keep my goals private</option>
							<option value="true">Show others my goals</option>
						</select>
						<input type="submit" value="Save Profile"/>
						</form>
					</div>
				</div>
		</div>
		</script>
		<script type="text/template" id="goals-template">
			<div class="view">	
				<blockquote>Short term goal that you would like to track</blockquote>			
				<div class="one-third column">
					<form id="goals">
					<label for="bs-lower">Blood Sugar Range</label>
					<input type="number" id="goal-bs-lower" placeholder="lower">
					<input type="number" id="goal-bs-upper" placeholder="upper">		
					<label for="goal-bs-frequency">Testing Frequency</label>					
					<input type="number" id="goal-bs-frequency" placeholder="times per day">
				</div>
				<div class="one-third column">
					<label for="goal-excercise-duration">Average Excercise Duration</label>
					<input type="number" id="goal-excercise-duration" placeholder="mins per day">
					<label for="goal-excercise-frequency">Excercise Frequency</label>
					<input type="number" id="goal-excercise-frequency" placeholder="times per week">
					<input type="submit" value="Save Daily Goals"/>
					</form>				
				</div>
				<div class="clear"/>
				<blockquote>Do you have a long term goal you are aiming for?</blockquote>
				<div class="one-third column">
					<form id="goals">
						<label for="goal-excercise-duration">Long Term Goal</label>
						<textarea id="goal-long-term" />	
										
				</div>
				<div class="one-third column">
						<label for="goal-long-term-date">When do you aim to achive this?</label>						
						<input type="date" id="goal-long-term-date" >
						<input type="submit" value="Save Long Term Goals"/>
					</form>				
				</div>
				<div class="clear"></div>
			</div>
		</script>
		<script src="js/jquery-1.8.2.min.js"></script>
		<script src="js/underscore-min.js"></script>
		<script src="js/backbone-min.js"></script>
		<script src="js/backbone-localstorage.js"></script>		
		<script src="js/bootstrap.min.js"></script>
		<script src="js/d3.v2.min.js"></script>
		<script src="js/betes.js"></script>
					
	</body>
</html>