<!DOCTYPE HTML>
<!--<html manifest="offline.appcache" lang="en">-->
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Betes Log - Your Diabetes Log Book</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="css/font-awesome.css" />
		<link rel="stylesheet" href="css/graphs.css" />
        <script>var hash=window.location.hash;window.close();opener.OAuthRedirect(hash);</script>
       <!-- <script type="text/javascript">
            window.fbAsyncInit = function() {
              console.info('FB jssdk loaded');
        
                
                FB.init({
                    appId: '226520900725004'
                });
    
            };
        
            // Load the SDK Asynchronously
            (function(d){
               var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
               if (d.getElementById(id)) {return;}
               js = d.createElement('script'); js.id = id; js.async = true;
               js.src = "//connect.facebook.net/en_US/all.js";
               ref.parentNode.insertBefore(js, ref);
             }(document));
		</script>-->
	</head>
	  
	<body>
		<section id="app-nav">
				
		</section>
		<div class="container">
			<div id="app" class="row-fluid">
				<div id="modal-dialog"></div>
				<section id="main">			
				</section>
			</div>
		</div>
		<!-- App Source -->
		<script type="text/template" id="nav-template">
		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<a class="brand" href="#"><i class="icon-tint"></i> Betes Log</a>
				<ul class="nav">
					<li id="log-page" class="active"><a href="#">Log Book</a></li>
					<li id="settings-page"><a href="#/account">Account</a></li>
					<li id="about-page"><a href="#/about">About</a></li>
				</ul>
                <!--<div class="pull-right">
                    <button id="login" class="btn btn-primary"><i class="icon-facebook"></i> Connect with Facebook</button>
				</div>-->
                <div class="pull-right">
                    <button id="login" class="btn btn-primary"> Login</button>
				</div>
			</div>
            <!--<div id="fb-root"></div>-->
		</div>
		</script>
		<script type="text/template" id="item-template">
			<td><% if(name) { %> <a class="update" href="#"><%= name %></a><% } %> </td>
			<td><% if(bsLevel) { %> <%= bsLevel %> mmol <% } %></td>
			<td><% if(insulinAmount) { %> <%= insulinAmount %> u<% } %></td>
			<td><% if(exerciseDuration) { %> <%= exerciseDuration %> mins<% } %></td>
			<td><% if(exerciseIntensity) { %> <%= exerciseIntensity %> intensity<% } %></td>			
			<td><% if(labels) { %> <%= labels %> <% } %></td>
			<td><a class="btn btn-link update" href="#"><i class="icon-edit icon-large"></i></a><a class="btn btn-link delete" href="#"><i class="icon-trash  icon-large"></i></a></td>
		</script>
		<script type="text/template" id="edit-item-template">
		<div id="edit-entry" class="modal hide fade">
				<div class="modal-header">
					<h3 id="myModalLabel">Editing Result</h3>
				</div>
				<div class="modal-body">
					<h4>Basics</h4>							
					<select  id="edit-entry-name" autofocus>
						<option <%if (name=="Waking") {%>selected<%}%> value="Waking">Waking</option>
						<option <%if (name=="Breakfast") {%>selected<%}%> value="Breakfast">Breakfast</option>
						<option <%if (name=="Mid-Morning") {%>selected<%}%> value="Mid-Morning">Mid-Morning</option>
						<option <%if (name=="Lunch") {%>selected<%}%> value="Lunch">Lunch</option>
						<option <%if (name=="Mid-Afternoon") {%>selected<%}%> value="Mid-Afternoon">Mid-Afternoon</option>
						<option <%if (name=="Dinner") {%>selected<%}%> value="Dinner">Dinner</option>
						<option <%if (name=="Evening") {%>selected<%}%> value="Evening">Evening</option>
						<option <%if (name=="Bed") {%>selected<%}%> value="Bed">Bed</option>
						<option <%if (name=="Other") {%>selected<%}%> value="Other">Other</option>
					</select>
					<input type="text" class="when-picker" name="when-picker" id="edit-entry-date" value="<%= when %>">
					<input type="text" id="edit-entry-level" value="<%= bsLevel %>">
					<input type="text" id="edit-entry-insulin" value="<%= insulinAmount %>">
					<h4>exercise</h4>
					<input type="text" id="edit-entry-exercise-duration" value="<%= exerciseDuration %>">				
					<select  id="edit-entry-exercise-intensity">
						<option <%if (exerciseIntensity=="") {%>selected<%}%> value="">NA</option>
						<option <%if (exerciseIntensity=="Easy") {%>selected<%}%> value="Easy">Easy</option>
						<option <%if (exerciseIntensity=="Easy-Moderate") {%>selected<%}%> value="Easy-Moderate">Easy-Moderate</option>
						<option <%if (exerciseIntensity=="Moderate") {%>selected<%}%> value="Moderate">Moderate</option>
						<option <%if (exerciseIntensity=="Moderate-Intense") {%>selected<%}%> value="Moderate-Intense">Moderate-Intense</option>
						<option <%if (exerciseIntensity=="Intense") {%>selected<%}%> value="Intense">Intense</option>
					</select>
					<h4>Labels</h4>
					<input type="text" id="edit-entry-labels" value="<%= labels %>">
					<h4>Comments</h4>
					<textarea class="span4" rows="3" id="edit-entry-comments" value="<%= comments %>"></textarea>				
			
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
					<button class="btn btn-primary save-edit">Save</button>
				</div>
		</div>
		</script>
		<script type="text/template" id="add-item-template">
		<div id="add-entry-dialog" class="modal hide fade">
			<div class="modal-header">
				<h3>Add a new log book entry</h3>
			</div>
			<div class="modal-body">
				<label for="entry-name">Basics</label>
				<select id="entry-name" autofocus>
					<option value="Waking">Waking</option>
					<option value="Breakfast">Breakfast</option>
					<option value="Mid-Morning">Mid-Morning</option>
					<option value="Lunch">Lunch</option>
					<option value="Mid-Afternoon">Mid-Afternoon</option>
					<option value="Dinner">Dinner</option>
					<option value="Evening">Evening</option>
					<option value="Bed">Bed</option>
					<option value="Other">Other</option>
				</select>
				<input type="text" name="entry-date" id="entry-date">
				<input type="text" id="entry-level" placeholder="Your Blood Sugar">
				<input type="text" id="entry-insulin" placeholder="Insulin Given">
				<label for="entry-exercise-duration">exercise</label>
				<input type="text" id="entry-exercise-duration" placeholder="exercise duration?">				
				<select id="entry-exercise-intensity">
					<option value="">NA</option>
					<option value="Easy">Easy</option>
					<option value="Easy-Moderate">Easy-Moderate</option>
					<option value="Moderate">Moderate</option>
					<option value="Moderate-Intense">Moderate-Intense</option>
					<option value="Intense">Intense</option>
				</select>
				<label for="entry-labels">Labels</label>
				<input class="span4" type="text" id="entry-labels" placeholder="e.g. sickday, traveling (comma seperated)">
				<label for="entry-comments">Comments</label>
				<textarea class="span4" rows="3" id="entry-comments" placeholder="General Comments"></textarea>				
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
				<button class="btn btn-primary add-entry">Save</button>
			</div>
		</div>
		</script>
		<script type="text/template" id="logbook-template">
		
			<ul class="nav nav-tabs" id="myTab">
				<li class="active"><a href="#logbook" data-toggle="tab">Logbook</a></li>				
				<li><a href="#bs-graph" data-toggle="tab">Results</a></li>
				<li><a href="#goals-graph" data-toggle="tab">Goals</a></li>
				<!--<li><a href="#bs-vs-exercise-graph" data-toggle="tab">Results and exercise</a></li>-->
			</ul>
		       
			<div class="tab-content">
				<div class="tab-pane active" id="logbook">
					
					<div class="row-fluid">
						<div class="span2"><button class="btn btn-primary create-new-entry">Add Event</button></div>
						<div class="span6">
							<div class="input-prepend">
								<span class="add-on">Filter</span>
								<input type="text" placeholder="e.g. 'Dinner' or 'Sickday'" id="filter-logbook" >
							</div>
						</div>						
					</div>
					
					<div id="modal-item"></div>
					<table class="table table-bordered table-condensed">
						<thead>
						  <tr>
						    <th>At</th>
						    <th>your blood sugar was</th>
						    <th>you gave</th>
						    <th>you did</th>
						    <th>exercise at</th>
							<th>labeled as</th>
							<th></th>
						  </tr>
						</thead>
						<tbody id="events-list">
						</tbody>
					</table>	
				</div>
				<div class="tab-pane" id="goals-graph">					
					<div id="goals">
					</div>
				</div>
				<div class="tab-pane" id="bs-graph">
					<div class="input-prepend">
								<span class="add-on">Filter</span>
								<input type="text" placeholder="e.g. 'Dinner' or 'Sickday'" id="filter-bs-graph" >
					</div>
					<div id="bs-results">
					</div>
				</div>
				<div class="tab-pane" id="bs-vs-exercise-graph">
					<div class="input-prepend">
								<span class="add-on">Filter</span>
								<input type="text" placeholder="e.g. 'Dinner' or 'Sickday'" id="filter-bs-vs-exercise-graph" >	
					</div>
					<div id="bs-vs-exercise">
					</div>
				</div>
			</div>
					
		</script>			
		<script type="text/template" id="goal-template">
			<td><% if(bsLowerRange) { %> <%= bsLowerRange %> <% } %> </td>
			<td><% if(bsUpperRange) { %> <%= bsUpperRange %> <% } %></td>
			<td><% if(bsFrequency) { %> <%= bsFrequency %> u<% } %></td>
			<td><% if(exerciseDuration) { %> <%= exerciseDuration %> <% } %></td>
			<td><% if(exerciseFrequency) { %> <%= exerciseFrequency %> <% } %></td>			
			<td><% if(longTermGoal) { %> <%= longTermGoal %> <% } %></td>
			<td><% if(longTermGoalDate) { %> <%= longTermGoalDate %> <% } %></td>
			<td><a class="btn btn-link update-goals" href="#"><i class="icon-edit icon-large"></i></a><a class="btn btn-link delete-goals" href="#"><i class="icon-trash  icon-large"></i></a></td>
		</script>
		<script type="text/template" id="add-goal-template">
		<div id="add-goal-dialog" class="modal hide fade">
			<div class="modal-header">
				<h3>Add a new set of goals</h3>
			</div>
			<div class="modal-body">
				<p class="lead">Testing Goals</p>
				<p>Set your goals for testing so you can track them over time.</p>
				<div class="control-group">
					<label class="control-label" for="goal-bs-lower">Range</label>
					<div class="controls">
						<input type="number" id="goal-bs-lower" placeholder="lower" >
						<input type="number" id="goal-bs-upper" placeholder="upper" >
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="goal-bs-lower">Frequency</label>
					<div class="controls">
						<input type="number" id="goal-bs-frequency" placeholder="times per day" > per/day
					</div>
				</div>				
				<p class="lead">exercise Goals</p>						
				<p>Set your goals for how much and how often you would like to exercise so you can this over time.</p>
				<div class="control-group">
					<label class="control-label" for="goal-exercise-duration">How Long</label>
					<div class="controls">
						<input type="number" id="goal-exercise-duration" placeholder="mins per day" > mins
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="goal-exercise-frequency">How Often</label>
					<div class="controls">
						<input type="number" id="goal-exercise-frequency" placeholder="times per week" > per/wk
					</div>
				</div>
				<p class="lead">Long Term Goals</p>
				<div class="control-group">
					<label class="control-label" for="goal-long-term">Goal</label>
					<div class="controls">
						<textarea id="goal-long-term" />	
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="goal-long-term">By When</label>
					<div class="controls">
						<input type="date" id="goal-long-term-date" >	
					</div>
				</div>			
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
				<button class="btn btn-primary add-goal">Add</button>
			</div>
		</div>
		</script>
		<script type="text/template" id="edit-goal-template">
		<div id="edit-goal-dialog" class="modal hide fade">
			<div class="modal-header">
				<h3>Edit goals</h3>
			</div>
			<div class="modal-body">
				<p class="lead">Testing Goals</p>
				<p>Set your goals for testing so you can track them over time.</p>
				<div class="control-group">
					<label class="control-label" for="goal-bs-lower">Range</label>
					<div class="controls">
						<input type="number" id="goal-bs-lower" placeholder="lower" <% if(bsLowerRange) { %> value="<%= bsLowerRange %>" <% } %>>
						<input type="number" id="goal-bs-upper" placeholder="upper" <% if(bsUpperRange) { %> value="<%= bsUpperRange %>" <% } %>>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="goal-bs-lower">Frequency</label>
					<div class="controls">
						<input type="number" id="goal-bs-frequency" placeholder="times per day" <% if(bsFrequency) { %> value="<%= bsFrequency %>" <% } %>> per/day
					</div>
				</div>				
				<p class="lead">exercise Goals</p>						
				<p>Set your goals for how much and how often you would like to exercise so you can this over time.</p>
				<div class="control-group">
					<label class="control-label" for="goal-exercise-duration">How Long</label>
					<div class="controls">
						<input type="number" id="goal-exercise-duration" placeholder="mins per day" <% if(exerciseDuration) { %> value="<%= exerciseDuration %>" <% } %>> mins
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="goal-exercise-frequency">How Often</label>
					<div class="controls">
						<input type="number" id="goal-exercise-frequency" placeholder="times per week" <% if(exerciseFrequency) { %> value="<%= exerciseFrequency %>" <% } %>> per/wk
					</div>
				</div>
				<p class="lead">Long Term Goals</p>
				<div class="control-group">
					<label class="control-label" for="goal-long-term">Goal</label>
					<div class="controls">
						<textarea class="span6" id="goal-long-term" <% if(longTermGoal) { %> value="<%= longTermGoal %>" <% } %>/>	
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="goal-long-term">By When</label>
					<div class="controls">
						<input type="date" id="goal-long-term-date" <% if(longTermGoalDate) { %> value="<%= longTermGoalDate %>" <% } %>>	
					</div>
				</div>			
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
				<button class="btn btn-primary add-goal">Add</button>
			</div>
		</div>
		</script>
		<script type="text/template" id="account-template">
		<ul class="nav nav-tabs" id="user-tabs">
            <li><a href="#user-account-tab" data-toggle="tab">Account</a></li>
			<li><a href="#user-goals-tab" data-toggle="tab">Goals</a></li>	
		</ul>
		<div class="tab-content">
			<div class="tab-pane" id="user-goals-tab">
				<div class="row-fluid">
					<form class="form-inline">
						<button class="btn btn-primary add-new-goals">Add Goal Set</button>
					</form>						
				</div>
				<div id="modal-goal"></div>
				<table class="table table-bordered table-condensed">
					<thead>
						<tr>
							<th>Lower Range</th>
							<th>Upper Range</th>
							<th>Frequency per day</th>
							<th>exercise Amount</th>
							<th>exercise Frequency per week</th>
							<th>Long Term</th>
							<th>Achieved by</th>
						</tr>
					</thead>
					<tbody id="goals-list">
					</tbody>
				</table>
					
			</div>
			<div class="tab-pane" id="user-account-tab">
					<div id="profile-saved-message" class="alert alert-success">
						<button type="button" class="close" data-dismiss="alert">×</button>
						Profile Updated
					</div>
					<p class="lead">User Profile</p>
                        <img <% if(thumbnailPath) { %> src="<%= thumbnailPath %>" <% } %> class="img-polaroid">
						<div class="control-group">
							<label class="control-label" for="account-user-name">Name</label>
							<div class="controls">
								<input type="text" id="account-user-name" placeholder="Name" <% if(name) { %> value="<%= name %>" <% } %> disabled>	
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="account-user-email">Email</label>
							<div class="controls">
								<input type="email" id="account-user-email" placeholder="Email" <% if(email) { %> value="<%= email %>" <% } %> disabled>	
							</div>
						</div>
                        <div class="control-group">
							<label class="checkbox">
                                <input type="checkbox" id="newsletter"> Newsletter?
                            </label>
						</div>
						
					<p class="lead">User Settings</p>						
						<div class="control-group">
							<label class="control-label" for="account-testing-units">Result Units</label>
							<div class="controls">
								<select name="account-testing-units" id="account-testing-units">
									<option value="mg/dl">mg/dl</option>
									<option value="mmol/l">mmol/l</option>
								</select>	
							</div>
						</div>		
						<div class="control-group">
							<div class="controls">
								<button id="save-profile" class="btn btn-primary">Update Profile</button>
							</div>
						</div>
				</div>
		</div>
		</script>
		<script type="text/template" id="login-template">
		<div id="login-dialog" class="modal hide fade">
			<div class="modal-header">
				<h3>Login</h3>
			</div>
			<div class="modal-body">
                	
				<button id="login-fb" class="btn btn-large"><i class="icon-facebook"></i> Login with Facebook</button>
                <button id="login-google" class="btn btn-large"><i class="icon-google-plus"></i> Login with Google</button>
					
            </div>	
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			</div>
		</div>
		</script>
        <script type="text/template" id="signup-template">
		<div id="signup-dialog" class="modal hide fade">
			<div class="modal-header">
				<h3>Create Account</h3>
			</div>
			<div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="signup-name">Name</label>
					<div class="controls">
                    	<input type="text" id="signup-name" placeholder="Name" required>	
					</div>
				</div>
                <div class="control-group">
                    <label class="control-label" for="signup-email">Email</label>
					<div class="controls">
                    	<input type="email" id="signup-email" placeholder="Email" required>	
					</div>
				</div>
				<div class="control-group">
                    <label class="control-label" for="signup-pw">Password</label>
                    <div class="controls">
                        <input type="password" id="signup-pw" placeholder="Password" required>	
                    </div>
				</div>
                <div class="control-group">
                    <label class="checkbox">
                        <input id="signup-newsletter" type="checkbox"> Do you want to recieve our newsletter?
                    </label>
                </div>    
            </div>	
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
				<button class="btn btn-primary account-join">Join</button>
			</div>
		</div>
		</script>
        <script type="text/template" id="about-template">
		<div class="container">
			<h1>About</h1>
			<p class="lead">Designed as a simple way for people track blood sugars and 'health' long term.</p>
			<hr class="soften">
            	
				<div class="row-fluid">
					<div class="span2">
					<h3>The App</h3>
					</div>
					<div class="span10 well">
					<p class="lead">Goals</p>
					<ul>
						<li>Log events (blood sugars and excerise)</li>
						<li>Watch the trends over time</li>
						<li>Set realistic and personal goals</li>
						<li>Share results with whom you choose (Dr /Diabetes Health Professionals/ Others)</li>
					</ul>
                    <p class="lead">Roadmap</p>
					<ul>
                        <li>Store your results so you can access them anywhere</li>
						<li>Add a food diary if you want to track food</li>
						<li>Make it social - connect with other users and ask for help</li>
						<li>Create a native mobile app</li>
					</ul>
					</div>
				</div>
                <hr class="soften">
                <div class="row-fluid">
					<div class="span2">
					<h3>How it works</h3>
					</div>
					<div class="span10 well">
					<p class="lead">Follow these basic steps</p>
					<p>1. Add a result to the log book - recording the details that are important to you</p>
                            <ul>
                                <li>Name: Name it with a realtive time, e.g. Waking or Dinner, this helps with looking at your results later.</li>
                                <li>Result: Record the value of your result.</li>
                                <li>When: The time and date will be automatically set to when you added the result but you can change it.</li>
                                <li>Excercise: If you want to track your excersie you can add just these values (they will be excluded from the results graph)</li>
                                <li>Label: would you like to label this result for later refernce? e.g. sickday</li>
                                <li>Comments: any other comments? You may just leave this for period where you are adjusting or trying to work out whats going on.</li>
                            </ul>
						<p>2. Once you have been collecting results for a while you can see these ploted on the results graph.</p>
						<p>3. You also filter results in the logbook view - maybe you want to look at only results at breakfast?</p>
                            <ul>
                                <li>Filter by relative time e.g. "wak+bre" will show all waking and breakfast results</li>
                                <li>Filter results by value. e.g. ">10" will show all sugars over 10, and likewise "<5" will show all those results</li>
                            </ul>
                        <a class="btn btn-large btn-primary" href="mailto:jamie@almservices.co.nz">Need help? Email Jamie</a>
					</div>
				</div>	
				<hr class="soften">				
				<div class="row-fluid">
					<div class="span2">
						<h3>Jamie</h3>
					</div>
					<div class="span2">
						<img class="img-polaroid" src="images/jamie.jpg" alt="Jamie Bate">
					</div>
					<div class="span8 well">						
						<p class="lead">I have been a diabetic for over 25 years now with varying degrees of attention being paid to the 'betes'. I would describe my self as:</p>
						<ul>
							<li>A cycling junkie - MTB is the current passion</li>
							<li>A busy guy. Family with kids / Work/ Cycling and other projects like this mean I keep busy.</li>
							<li>A realist - I know there will be ups and downs with my diabetes. As long as I can track it long term I will be happy</li>
						</ul>
					</div>
				</div>				
				<hr class="soften">
				<div class="row-fluid">
					<div class="span2">
						<h3>Contact</h3>
					</div>
					<div class="span10 well">
						<p class="lead">I would love to hear from you </p>
						<p>
						<a class="btn btn-large btn-primary" href="mailto:jamie@almservices.co.nz">Email Jamie</a>
						</p>
						<p>
						<a class="btn btn-large" href="tel:006421653141">Call Jamie +64 21 653141</a>
						</p>
					</div>
				</div>
				<hr class="soften">
			
		</div>
		</script>
        
        <script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
		<script type="text/javascript" src="js/underscore-min.js"></script>
		<script type="text/javascript" src="js/backbone-min.js"></script>
        <script type="text/javascript" src="js/lib/backbone.oauth.js"></script>
		<script type="text/javascript" src="js/backbone_offline.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/d3.v2.min.js"></script>
		<script type="text/javascript" src="js/betes.js"></script>
        
        
	</body>
</html>