
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

table.home-buttons {
	width: 100%;
}

table.home-buttons tr a {
	margin-bottom: 30px;
}

.rickshaw_graph{
	margin-top: 10px;
}

.rickshaw_annotation_timeline{
	margin-top: 30px;	
}

.rickshaw_annotation_timeline .annotation{
	width: 20px;
	height: 20px;
	top: -10px;
}

.btn-toolbar{
	margin:5px;
}

#drop_target {
  width: 400px;
  height: 300px;
  border: 1px dashed;
  display: table-cell;
  vertical-align: middle;
  font-size: 2em;
  font-style: bold;
  position: absolute;
}

#hover_target {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#drop_target p {
  text-align: center;
}