<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport"
	content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
<link rel="stylesheet" href="css/vendor/bootstrap.min.css" />
<link rel="stylesheet" href="css/vendor/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="css/vendor/font-awesome.css" />
<link rel="stylesheet" href="css/main.css" />
<title>Betes Log</title>
</head>
<body>
	<div class="container">
		<div id="modal-dialog"></div>
		<div id="app"></div>
	</div>
	<script type="text/template" id="account-template">
<div class="navbar navbar-inverse ">
	<div class="navbar-inner">
		<ul class="nav">
			<li><a href="#">Log</a></li>
			<li><a href="#/insights">Insights</a></li>
			<li><a href="#/graphs">Graphs</a></li>
			<li><a href="#/settings">Settings</a></li>
		</ul>
		<div class="pull-right">
			<%if(authenticated) {%>
			<div class="btn-group">
				<button class="btn">Hey <%= name%></button>
				<button class="btn dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#/account"> Account</a></li>
					<li><a href="#" id="logout"> Logout</a></li>
				</ul>
			</div>
			<%} else { %> <a href="#" id="login" class="btn btn-small"><i
				class="icon-signin"></i> Login</a> <%}%>
		</div>
	</div>
</div>
<div id="acount">
	
			<div class="well">
				<div class="media">
					<a class="pull-left" href="#"> <img class="media-object"
						style="width: 90px; height: 90px;" src="<%= thumbnailPath%>">
					</a>
					<div class="media-body">
						<h4 class="media-heading">Name:</h4>
						<p><%= name%></p>
						<%if(allowSharing) {%>
							Share link: <span class="input-xlarge uneditable-input"><%=shareLinkId%></span>
						 <%}%>
					</div>
				</div>
				<form id="account-settings" class="form-horizontal">
					<div class="control-group">
						<label class="checkbox"> <input id="userNewsletter"
							type="checkbox"> Receive Newsletter
						</label>
					</div>
					<div class="control-group">
						<label class="checkbox"> <input id="allowSharing"
							type="checkbox"> Allow sharing and generate link?
						</label>
					</div>
					<div class="control-group">
						<label for="userTestingUnits">Testing Units</label> 
						<select id="userTestingUnits">
							<option value="mmol/l">mmol/l</option>
							<option value="mg/dL">mg/dL</option>
						</select>
					</div>
					<div class="control-group">
						<button class="btn">Cancel</button>
						<button type="submit"
							class="save-account-settings btn btn-primary">Update
							Account</button>
					</div>
				</form>
			</div>
		</div>
	
</div>
	</script>
	<script type="text/template" id="settings-template">
<div class="navbar navbar-inverse ">
	<div class="navbar-inner">
		<ul class="nav">
			<li><a href="#">Log</a></li>
			<li class="active"><a href="#/settings">Settings</a></li>
		</ul>
		<div class="pull-right">
			<%if(authenticated) {%>
			<div class="btn-group">
				<button class="btn">Hey <%= name%></button>
				<button class="btn dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#/account"> Account</a></li>
					<li><a href="#" id="logout"> Logout</a></li>
				</ul>
			</div>
			<%} else { %> <a href="#" id="login" class="btn btn-small"><i
				class="icon-signin"></i> Login</a> <%}%>
		</div>
	</div>
</div>
<div id="settings" >
	<div id="settings-getting-started" class="alert alert-info">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<h3>Getting started?</h3>
					<p class="lead">Settings are used to power your insights. Tell
						us your ideal sugar range, how much you are aiming to excercise
						...</p>
					<a class="btn btn-primary btn-large accordion-toggle"
						data-toggle="collapse" data-parent="#accordion2"
						href="#collapseOne"> Start Adding Settings </a>
				</div>
				<div class="well">
					<form id="excercise-settings" class="form-horizontal">
						<div class="control-group">
							<label class="control-label" for="excerciseTime">Time</label>
							<div class="controls">
								<input type="text" id="excerciseTime" placeholder="30">
							</div>
							<span class="help-block">The minimum about of time you want to aim for when excercising</span>
						</div>
						<div class="control-group">
							<label class="control-label" for="excerciseFreq">Frequency</label>
							<div class="controls">
								<input type="text" id="excerciseFreq" placeholder="5">
							</div>
							<span class="help-block">The minimum number of times per week you aim to excercise</span>
						</div>
					</form>
				</div>
				<div class="control-group">
					<button class="btn">Cancel</button>
					<button type="submit" class="save-settings btn btn-primary">Save
						Settings</button>
				</div>
			</div>
	</div>
</div>
	</script>

	<script type="text/template" id="logbook-template">
	<div class="navbar navbar-inverse ">
		<div class="navbar-inner">
			<ul class="nav">
				<li class="active"><a href="#">Log</a></li>
				<li><a href="#/settings">Settings</a></li>
			</ul>
			<div class="pull-right">
				<%if(authenticated) {%>
					<div class="btn-group">
  						<button class="btn">Hey <%= name%></button>
  						<button class="btn dropdown-toggle" data-toggle="dropdown">
    						<span class="caret"></span>
  						</button>
  						<ul class="dropdown-menu">
    						<li><a href="#/account"> Account</a></li>
    						<li><a href="#" id="logout"> Logout</a></li>
  						</ul>
					</div>
				<%} else { %>
					<a href="#" id="login" class="btn btn-small"><i class="icon-signin"></i> Login</a>
				<%}%>    
			</div>
		</div>
	</div>
	<div id="logbook">
		<div class="well text-center">
			<button class="btn btn-primary btn-large create-new-entry">Track <br />Hypo</button>
		</div>
		<table class="table table-bordered table-condensed">
			<thead>
				<tr>
					<th>Time</th>
					<th>Event</th>
				</tr>
			</thead>
			<tbody id="events-list">
			</tbody>
		</table>
	</div>
	</script>
	<script type="text/template" id="login-template">
	<div id="login-dialog" class="modal hide fade">
		<div class="modal-header">
			<h3>Sign Up or Sign In</h3>
		</div>
		<div class="modal-body">
			<button id="login-fb" class="btn btn-block btn-primary btn-large">
				<i class="icon-facebook icon-large"></i> Facebook Account
			</button>
			<button id="login-google" class="btn btn-block btn-primary btn-large">
				<i class="icon-google-plus icon-large"></i> Google Account
			</button>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		</div>
	</div>
	</script>
	<script type="text/template" id="home-template">
	<div class="navbar navbar-inverse ">
		<div class="navbar-inner">
			<ul class="nav">
				<li class="active"><a class="disabled" href="#">Log</a></li>
				<li><a class="disabled" href="#/settings">Settings</a></li>
			</ul>
		</div>
	</div>
	<div id="logbook">
		<div class="hero-unit text-center">
  			<h1 >Welcome to Betes Log</h1>
  			<p>Your everywhere, anytime log book</p>
  			<p>
    			<a href="#" id="login" class="btn btn-primary btn-large">
					<i class="icon-signin"></i>
      				Sign Up or Sign In
    			</a>
  			</p>
			<p>
    			<a href="http://beteslog.com" target="_blank" class="btn btn-large">
					<i class="icon-bullhorn"></i>
      				What we are about
    			</a>
  			</p>
		</div>
	</div>
	</script>
	<script type="text/javascript" src="cordova-2.4.0.js"></script>
	<script type="text/javascript" src="js/vendor/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="js/vendor/underscore-min.js"></script>
	<script type="text/javascript" src="js/vendor/backbone-min.js"></script>
	<script type="text/javascript" src="js/vendor/backbone.oauth.js"></script>
	<script type="text/javascript" src="js/vendor/backbone_offline.js"></script>
	<script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>

	<script type="text/javascript" src="js/models/Entry.js"></script>
	<script type="text/javascript" src="js/models/User.js"></script>
	<script type="text/javascript" src="js/models/Setting.js"></script>
	<script type="text/javascript" src="js/views/LoginModal.js"></script>
	<script type="text/javascript" src="js/views/LowMateLogbookView.js"></script>
	<script type="text/javascript" src="js/views/LowMateSettingsView.js"></script>
	<script type="text/javascript" src="js/views/HomeView.js"></script>
	<script type="text/javascript" src="js/lowmate_main.js"></script>
	<script type="text/javascript" src="js/hypo_workflow.js"></script>
	<script type="text/javascript">
	//document.addEventListener("deviceready", startApplication, true);
	startApplication();
	</script>

</body>
</html>
