<script type="text/javascript">
<div id="add-entry-dialog" class="modal hide fade">
	<div class="modal-header">
		<h3>Add a new log book entry</h3>
	</div>
	<div class="modal-body">
		<label for="entry-name">Basics</label> <select id="entry-name"
			autofocus>
			<option value="Waking">Waking</option>
			<option value="Breakfast">Breakfast</option>
			<option value="Lunch">Lunch</option>
			<option value="Dinner">Dinner</option>
			<option value="Bed">Bed</option>
			<option value="Mid-Morning">Mid-Morning</option>
			<option value="Mid-Afternoon">Mid-Afternoon</option>
			<option value="Evening">Evening</option>
			<option value="Other">Other</option>
		</select> <input type="text" name="entry-date" id="entry-date"> <input
			type="text" id="entry-level" placeholder="Your Blood Sugar">
		<input type="text" id="entry-insulin" placeholder="Insulin Given">
		<label for="entry-exercise-duration">exercise</label> <input
			type="text" id="entry-exercise-duration"
			placeholder="exercise duration?"> <select
			id="entry-exercise-intensity">
			<option value="">NA</option>
			<option value="Easy">Easy</option>
			<option value="Easy-Moderate">Easy-Moderate</option>
			<option value="Moderate">Moderate</option>
			<option value="Moderate-Intense">Moderate-Intense</option>
			<option value="Intense">Intense</option>
		</select> <label for="entry-labels">Labels</label> <input type="text"
			id="entry-labels"
			placeholder="e.g. sickday, traveling (comma seperated)"> <label
			for="entry-comments">Comments</label>
		<textarea rows="3" id="entry-comments" placeholder="General Comments"></textarea>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn-primary add-entry">Save</button>
	</div>
</div>
</script>