<div id="edit-entry" class="modal hide fade">
	<div class="modal-header">
		<h3 id="myModalLabel">Editing Result</h3>
	</div>
	<div class="modal-body">
		<h4>Basics</h4>
		<select id="edit-entry-name" autofocus>
			<option<%if (name=="Waking") {%>selected<%}%>
				value="Waking">Waking</option>
			<option<%if (name=="Breakfast") {%>selected<%}%>
				value="Breakfast">Breakfast</option>
			<option<%if (name=="Mid-Morning") {%>selected<%}%>
				value="Mid-Morning">Mid-Morning</option>
			<option<%if (name=="Lunch") {%>selected<%}%>
				value="Lunch">Lunch</option>
			<option<%if (name=="Mid-Afternoon") {%>selected<%}%>
				value="Mid-Afternoon">Mid-Afternoon</option>
			<option<%if (name=="Dinner") {%>selected<%}%>
				value="Dinner">Dinner</option>
			<option<%if (name=="Evening") {%>selected<%}%>
				value="Evening">Evening</option>
			<option<%if (name=="Bed") {%>selected<%}%> value="Bed">Bed</option>
			<option<%if (name=="Other") {%>selected<%}%>
				value="Other">Other</option>
		</select> <input type="text" class="when-picker" name="when-picker"
			id="edit-entry-date" value="<%= resultDate %>"> <input
			type="text" id="edit-entry-level" value="<%= bsLevel %>"> <input
			type="text" id="edit-entry-insulin" value="<%= insulinAmount %>">
		<h4>exercise</h4>
		<input type="text" id="edit-entry-exercise-duration"
			value="<%= exerciseDuration %>"> <select
			id="edit-entry-exercise-intensity">
			<option<%if (exerciseIntensity=="") {%>selected<%}%>
				value="">NA</option>
			<option<%if (exerciseIntensity=="Easy") {%>selected<%}%>
				value="Easy">Easy</option>
			<option<%if (exerciseIntensity=="Easy-Moderate")
				{%>selected<%}%> value="Easy-Moderate">Easy-Moderate</option>
			<option<%if (exerciseIntensity=="Moderate")
				{%>selected<%}%> value="Moderate">Moderate</option>
			<option<%if (exerciseIntensity=="Moderate-Intense")
				{%>selected<%}%> value="Moderate-Intense">Moderate-Intense</option>
			<option<%if (exerciseIntensity=="Intense") {%>selected<%}%>
				value="Intense">Intense</option>
		</select>
		<h4>Labels</h4>
		<input type="text" id="edit-entry-labels" value="<%= labels %>">
		<h4>Comments</h4>
		<textarea rows="3" id="edit-entry-comments"><%= comments %></textarea>

	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn-primary save-edit">Save</button>
	</div>
</div>