<div id="edit-goal-dialog" class="modal hide fade">
	<div class="modal-header">
		<h3>Edit goals</h3>
	</div>
	<div class="modal-body">
		<p class="lead">Testing Goals</p>
		<p>Set your goals for testing so you can track them over time.</p>
		<div class="control-group">
			<label class="control-label" for="goal-bs-lower">Range</label>
			<div class="controls">
				<input type="number" id="goal-bs-lower" placeholder="lower"<%
				if(bsLowerRange) { %> value="<%= bsLowerRange %>" <% } %>> <input
					type="number" id="goal-bs-upper" placeholder="upper"<%
				if(bsUpperRange) { %> value="<%= bsUpperRange %>" <% } %>>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="goal-bs-lower">Frequency</label>
			<div class="controls">
				<input type="number" id="goal-bs-frequency"
					placeholder="times per day"<% if(bsFrequency) { %>
				value="<%= bsFrequency %>" <% } %>> per/day
			</div>
		</div>
		<p class="lead">exercise Goals</p>
		<p>Set your goals for how much and how often you would like to
			exercise so you can this over time.</p>
		<div class="control-group">
			<label class="control-label" for="goal-exercise-duration">How
				Long</label>
			<div class="controls">
				<input type="number" id="goal-exercise-duration"
					placeholder="mins per day"<% if(exerciseDuration) { %>
				value="<%= exerciseDuration %>" <% } %>> mins
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="goal-exercise-frequency">How
				Often</label>
			<div class="controls">
				<input type="number" id="goal-exercise-frequency"
					placeholder="times per week"<% if(exerciseFrequency) { %>
				value="<%= exerciseFrequency %>" <% } %>> per/wk
			</div>
		</div>
		<p class="lead">Long Term Goals</p>
		<div class="control-group">
			<label class="control-label" for="goal-long-term">Goal</label>
			<div class="controls">
				<textarea id="goal-long-term"<% if(longTermGoal) { %> value="<%= longTermGoal %>" <% } %>/>	
					
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="goal-long-term">By When</label>
			<div class="controls">
				<input type="date" id="goal-long-term-date"<%
				if(longTermGoalDate) { %> value="<%= longTermGoalDate %>" <% } %>>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn-primary add-goal">Add</button>
	</div>
</div>