<td><% if(bsLowerRange) { %> <%= bsLowerRange %> <% } %> - <% if(bsUpperRange) { %> <%= bsUpperRange %> <% } %></td>
			<td><% if(bsFrequency) { %> <%= bsFrequency %> <% } %></td>
			<td><% if(exerciseDuration) { %> <%= exerciseDuration %> <% } %></td>
			<td><% if(exerciseFrequency) { %> <%= exerciseFrequency %> <% } %></td>			
			<td><% if(longTermGoal) { %> <%= longTermGoal %> <% } %></td>
			<td><% if(longTermGoalDate) { %> <%= longTermGoalDate %> <% } %></td>
			<td><a class="btn btn-link update-goals" href="#"><i class="icon-edit icon-large"></i></a><a class="btn btn-link delete-goals" href="#"><i class="icon-trash  icon-large"></i></a></td>
		