<div id="login-dialog" class="modal hide fade">
	<div class="modal-header">
		<h3>Sign</h3>
	</div>
	<div class="modal-body">

		<button id="login-fb" class="btn btn-block btn-primary btn-large">
			<i class="icon-facebook icon-large"></i> Login with Facebook
		</button>
		<button id="login-google" class="btn btn-block btn-primary btn-large">
			<i class="icon-google-plus icon-large"></i> Login with Google
		</button>

	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
	</div>
</div>